<% include ./partials/header %>
<div class="ui link cards centered">
  <div class="card">
    <div class="image">
      <img src="https://static1.squarespace.com/static/56ba5828d210b8390263bb70/t/56c4e56d5559866496ce6bd6/1455744366134/love.jpg?format=500w">
    </div>
    <div class="content">
      <div class="header"><%=users.name%></div>
      <div class="meta">
        <a>Tennis Legends</a>
      </div>
      <div class="description">
        <%=users.name%>
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        <%=users.name%>
      </span>
      <span>
        <i class="user icon"></i>
       <%=users.name%>
      </span>
    </div>
  </div>
</div>
<% include ./partials/footer %>