<% include ./partials/header %>
<div class="ui main text container segment" style="margin-top:80px;">
<form action ="/register" method="POST" class="ui form">
    <h1>Sign Up Form</h1>
  <div class="field">
    <label>Username</label>
    <input type="text" name="username" placeholder="username">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" placeholder="password">
  </div>
  
  <button class="ui button" type="submit">Submit</button>
</form>
</div>

<% include ./partials/footer %> 